.contact {
  min-height: 100vh;
  transition: 0.8s cubic-bezier(0.23, 0.59, 0.48, 0.99);
  &__header {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &--social {
      display: flex;
      width: 40%;
      justify-content: space-around;
      position: absolute;
      top: -10vw;
      left: 4vw;
      transition: 0.8s cubic-bezier(0.23, 0.59, 0.48, 0.99);
      a {
        transform: translateY(5vw);
        opacity: 0;
        width: 4vw;
        height: 4vw;
        background: rgb(158, 158, 111);
        border-radius: 50%;
        padding: 0.6em;
      }
    }
    &--flex {
      display: flex;
      align-items: flex-end;
      height: 65vh;
      width: 100%;
      @media screen and(max-width:750px) {
        justify-content: center;
      }
      &--title {
        z-index: 2;
        margin-right: 3vw;
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        @media screen and(max-width:750px) {
          width: auto;
        }
        p {
          font-size: 5vw;
          text-align: end;
          color: rgb(158, 158, 111);
          text-transform: uppercase;
          @media screen and (max-width: 550px) {
            font-size: 10vw;
          }
        }
        h1 {
          font-size: 16vw;
          line-height: 0.9;
          text-align: end;
          transition: 0.8s cubic-bezier(0.23, 0.59, 0.48, 0.99);
          display: flex;
          flex-direction: column;
          line-height: 0.5;
          @media screen and (max-width: 550px) {
            font-size: 20vw;
          }
          span:nth-child(2) {
            transition: 0.8s cubic-bezier(0.23, 0.59, 0.48, 0.99);
            color: rgb(158, 158, 111);
          }
        }
      }
    }
  }
  &__form {
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    @media screen and(max-width:750px) {
      justify-content: center;
      margin-bottom: 5vw;
    }
  }
}
