.home {
  transition: 0.8s cubic-bezier(0.23, 0.59, 0.48, 0.99);
  &__heroHeader {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    &--square {
      width: 40%;
      height: 70vh;
      background: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: 0.8s cubic-bezier(0.23, 0.59, 0.48, 0.99);
      @media screen and(max-width:800px) {
        width: 75%;
      }
      h2 {
        background: rgb(158, 158, 111);
        width: 100%;
        text-align: center;
        padding: 0.5em 2em;
        text-transform: uppercase;
        letter-spacing: 10px;
        font-size: 4vw;
        transition: 0.8s cubic-bezier(0.23, 0.59, 0.48, 0.99);
        font-family: "fontTitleProject";
        @media screen and(max-width:500px) {
          padding: 0.5em 1em;
          font-size: 10vw;
        }
      }
      p {
        color: white;
        font-size: 1.5vw;
        letter-spacing: 1vw;
        @media screen and(max-width:650px) {
          font-size: 4vw;
        }
        @media screen and(max-width:400px) {
          font-size: 4.5vw;
        }
      }
    }
    &--title {
      position: absolute;
      bottom: 0;
      text-align: center;
      color: #f8f8f4;
      transition: 0.8s cubic-bezier(0.23, 0.59, 0.48, 0.99);
      width: 100%;
      @media screen and(max-width:800px) {
        top: 110%;
      }
      h2 {
        font-family: "fontTitleProject";
        text-transform: uppercase;
        letter-spacing: 3vw;
        font-size: 5vw;
        @media screen and (max-width: 800px) {
          font-size: 10vw;
        }
      }
    }
  }
  .about {
    // height: 150vh;
    &__title {
      height: 50vh;
      background: #9e9e6f;
      @media screen and(max-width:800px) {
        height: 25vh;
      }
    }
    &__description {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: relative;
      @media screen and(max-width:800px) {
        flex-direction: column;
        align-items: flex-start;
      }
      &--image {
        background: black;
        width: 30vw;
        height: 30vw;
        background-image: url("../images/Jimmy3.png");
        background-size: 70%;
        transition: 0.8s cubic-bezier(0.23, 0.59, 0.48, 0.99);
        background-repeat: no-repeat;
        margin-top: 20%;
        background-position-x: 50%;
        filter: brightness(0.5);
        @media screen and(max-width:800px) {
          width: 40vw;
          height: 40vw;
          margin-left: 10vw;
          margin-top: 5vw;
        }
        @media screen and(max-width:550px) {
          width: 60vw;
          height: 60vw;
        }
      }
      &--text {
        width: 30vw;
        text-align: justify;
        @media screen and (max-width: 800px) {
          width: 60vw;
          margin-left: 30vw;
        }
        @media screen and (max-width: 550px) {
          margin-top: -20vw;
        }
        p {
          font-size: 2vw;
          @media screen and(max-width:700px) {
            font-size: 3vw;
          }
          @media screen and(max-width:450px) {
            font-size: 5vw;
          }
        }
      }
      &--title {
        position: absolute;
        text-align: center;
        top: 40%;
        color: #f8f8f4;
        transition: 0.8s cubic-bezier(0.23, 0.59, 0.48, 0.99);
        width: 100%;
        @media screen and(max-width:800px) {
          top: 110%;
        }
        h2 {
          font-family: "fontTitleProject";
          text-transform: uppercase;
          letter-spacing: 3vw;
          font-size: 5vw;
          @media screen and (max-width: 850px) {
            font-size: 10vw;
          }
        }
      }
    }
  }
  .portefolio {
    &__title {
      height: 50vh;
      background: #9e9e6f;
      @media screen and(max-width:800px) {
        height: 25vh;
      }
    }
    &__presentation {
      margin-top: 13vw;
      &__flex {
        display: flex;
        justify-content: space-around;
        @media screen and(max-width:800px) {
          flex-direction: column;
          align-items: center;
        }
        &--left {
          width: 42vw;
          position: relative;
          transition: 0.8s cubic-bezier(0.23, 0.59, 0.48, 0.99);
          @media screen and(max-width:800px) {
            margin-left: -5vw;
            width: 95vw;
          }
          a {
            margin-left: 1em;
            text-decoration: underline;
            @media screen and (max-width: 850px) {
              font-size: 8vw;
            }
          }
          &__link {
            display: flex;
            width: 38vw;
            top: 10vw;
            left: 22vw;
            align-items: center;
            position: absolute;
            h3 {
              background: rgba(158, 158, 111, 0.8);
              padding: 0.5em 1em;
              font-family: "fontTitleProject";
              margin-right: -2vw;
              font-weight: 100;
              @media screen and (max-width: 850px) {
                font-size: 10vw;
              }
            }
            @media screen and(max-width:800px) {
              top: 33vw;
              left: 45vw;
              width: 50vw;
            }
          }
        }
        &--right {
          width: 40vw;
          position: relative;
          margin-top: 25vw;
          transition: 0.8s cubic-bezier(0.23, 0.59, 0.48, 0.99);
          @media screen and(max-width:800px) {
            margin-left: 5vw;
            width: 95vw;
            margin-top: 10vw;
          }

          &__link {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 38vw;
            top: 55%;
            right: 35%;
            @media screen and(max-width:800px) {
              top: 28vw;
              width: 95vw;
              left: 0;
            }
            h3 {
              background: rgba(158, 158, 111, 0.8);
              padding: 0.5em 1em;
              font-weight: 100;
              font-family: "fontTitleProject";
              @media screen and (max-width: 850px) {
                font-size: 9vw;
              }
            }
            a {
              margin-left: 1em;
              text-decoration: underline;
              @media screen and (max-width: 850px) {
                font-size: 8vw;
              }
            }
          }
        }
      }
      &__middle {
        margin: 15vw 0 0 15vw;
        width: 50vw;
        display: flex;
        transition: 0.8s cubic-bezier(0.23, 0.59, 0.48, 0.99);
        position: relative;
        @media screen and(max-width:800px) {
          width: 95vw;
          margin: 20vw auto;
        }
        a {
          position: absolute;
          top: 100%;
          text-decoration: underline;
          left: 10vw;
          @media screen and (max-width: 850px) {
            font-size: 8vw;
          }
        }
        &--link {
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
          margin-left: -5vw;
          margin-bottom: -5vw;
          @media screen and (max-width: 850px) {
            margin-left: -50vw;
          }
          p {
            line-height: 0.5;
          }
          h3 {
            background: rgba(158, 158, 111, 0.8);
            padding: 0.5em 1em;
            font-weight: 100;
            font-family: "fontTitleProject";
            @media screen and (max-width: 850px) {
              font-size: 9vw;
            }
          }
        }
      }
    }
    &__buttonProject {
      margin: 5vw 0 10vw 20vw;
      @media screen and(max-width:750px) {
        margin: 5vw 0;
      }
      button {
        display: flex;
        align-items: center;
        background: none;
        border: none;
        cursor: pointer;
        margin: 0 auto;

        @media screen and(max-width:800px) {
          margin: 5vw auto;
          width: 50vw;
        }
        a {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          p {
            margin: 0 1em;
            font-size: 5vw;
            @media screen and (max-width: 550px) {
              font-size: 8vw;
            }
          }
          img {
            width: 5vw;
            height: 5vw;
            @media screen and (max-width: 550px) {
              width: 10vw;
              height: 10vw;
            }
          }
        }
      }
    }
  }
  .test4 {
    height: 50vh;
    background: yellow;
  }
}
